{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'blog/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/post_detail.css' %}">
</head>
<body>
    <header>
        <div id="header">
            <div id="logo">
                <img src="{% static 'blog/images/logo.png' %}" alt="RhythmTag">
            </div>
            <div class="menu">
                <div id="user">
                    <img src="{% static 'blog/images/user.png' %}" alt="내 정보">
                </div>
                <div id="menu">
                    <img src="{% static 'blog/images/menu.png' %}" alt="메뉴">
                </div>
            </div>
        </div>
        <hr>
    </header>
    <div id="back-button">
        <a href="{% url 'post_list' %}" class="back-link">← 목록으로 돌아가기</a>
    </div>
    <section>
        <div class="post-content">
            <div id="content-title">
                {{ post.title }}
            </div>
            <div id="content-link">
                {% if youtube_embed_url %}
                <iframe width="560" height="315"
                    src="{{ youtube_embed_url }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                {% else %}
                <p>유효한 유튜브 링크가 아닙니다.</p>
                {% endif %}
            </div>
            <div id="content-text">
                {{ post.content|safe }}
            </div>
            <div id="content-tags">
                {% for tag in post.tags.all %}
                <p>
                    {{ tag.name }}
                </p>
                {% endfor %}
            </div>
        </div>

        <div class="content-reaction">
            <div id="reply-count">
                <div id="likes">
                    ❤️ 0
                </div>
                <div id="comment">
                    🗨️ {{ post.comment_set.count }}
                </div>
            </div>

            <div class="content-option">
                <div id="content-update">
                    <a href="{% url 'post_update' post.id %}">수정</a>
                </div>
                |
                <div id="content-delete">
                    <a href="{% url 'post_delete' post.id %}">삭제</a>
                </div>
            </div>
        </div>

        <div class="comment-area">
            <div id="comment-input">
                <input type="text" placeholder="댓글을 입력하세요">
            </div>

            {% for comment in post.comment_set.all %}
            <div class="comment-reply">
                <div id="user-name">{{ comment.nickName }}</div>
                |
                <div id="user-content">{{ comment.comment }}</div>
                |
                <div id="user-writeDate">{{ comment.writeDate }}</div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>
